/* Used the Sticky Footer from https://materializecss.com/footer.html */
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

main {
  flex: 1 0 auto;
}

/* Style for Card images */
.card .card-image img {
  height: 100%;
}

.card-image {
  height: 125px;
}

/* Style for Social links taken from https://www.w3schools.com/css/css_inline-block.asp */
.social {
  list-style-type: none;
  text-align: center; 
  padding: 0;
  margin: 0;
}

.social li {
  display: inline-block;
  color: white;
  font-size: 20px;
  padding: 0 20px 0 20px;
}

.social li i {
  color: white;
}

/* Footer Style */
.page-footer {
  padding-top: 0;
}